/themes/**/*
!/themes/default/
!/themes/default/**/*
!/themes/cume/
!/themes/cume/**/*
!/themes/canvas/
!/themes/canvas/**/*
!/themes/dropdown/
!/themes/dropdown/**/*
/company/**/attachments
/company/**/backup/*.sql
/company/**/backup/*.sql.gz
/company/**/pdf_files/*.pdf
/company/**/js_cache/*.js
/company/**/js_cache/**/*.js
/company/**/reporting
/company/**/images
/lang/*
!/lang/en_US
!/lang/new_language_template
/tmp/*
!/tmp/index.php
/modules/**/*
!/modules/
!/modules/index.php
.history
.vscode
.DS_Store
installed_languages.inc
installed_extensions.php
config.php