.main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0 auto;
    max-width: var(--breakpoint-3xl);
    width: 100vw;
    height: 100vh;
    height: 100dvh;

    .main-section {
        position: relative;
        overflow: hidden;
        flex: 1;
        max-width: 100%;
        height: 100vh;
        height: 100dvh;
        transition: flex 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &.has-footer.has-header .main-content-area {
        height: calc(100vh - theme('height.header') - theme('height.footer'));
        height: calc(100dvh - theme('height.header') - theme('height.footer'));
    }

    &.has-footer .main-content-area {
        height: calc(100vh - theme('height.footer'));
        height: calc(100dvh - theme('height.footer'));
    }
}

.main-content-area {
    position: relative;
    height: 100vh;
    height: 100dvh;
    width: 100%;
}

.has-header .main-content-area {
    height: calc(100vh - theme('height.header'));
    height: calc(100dvh - theme('height.header'));
}

.main-footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: theme('height.footer');
}

.main-header {
    position: relative;
    overflow: hidden;
    z-index: 110;
    height: theme('height.header');
    width: 100%;
}

@media (max-width: calc(theme('screens.md') - 1px)) {
    .main-section {
        margin-left: 0;
    }
}