body {
    @apply text-gray-900 antialiased font-normal text-base;
    background-color: theme('colors.main-bg');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
    &[align="center"] {
        @apply mx-auto;
    }

    td:not(.has-table), th {
        @apply p-1;
    }
}

button {
    white-space: nowrap;
}

input, button, textarea, select {
    @apply border border-solid border-gray-400 text-gray-900 bg-white rounded-sm px-1 py-0.5 transition-colors;
}

textarea {
    min-height: calc(1.5em + (0.75rem + 2px));
}

a, button, input, select, textarea {
    &:focus-visible {
        @apply ring-1 ring-offset-2 ring-offset-white;
        --tw-ring-color: theme('colors.primary-accent');
    }
}

textarea, input {
    &::placeholder {
        @apply text-gray-400;
    }
}

select {
    @apply inline-block pe-5 bg-no-repeat bg-right bg-[length:16px_12px] appearance-none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

    &:disabled {
        @apply bg-gray-200;
    }

    &[multiple], &[size]:not([size="1"]) {
        @apply pe-1 bg-none;
    }
}

input[type=file] {
    @apply overflow-hidden;

    &::file-selector-button {
        @apply py-0.5 px-1 -my-0.5 -mx-1 me-1 bg-gray-200 border-0 border-solid border-inherit border-e rounded-e-sm transition-colors;
    }

    &:not(:disabled):not([readonly]) {
        @apply cursor-pointer;

        &::file-selector-button {
            @apply bg-gray-300;
        }
    }
}